body {
    height: 450px;
    width: 350px;
    background-color: #868f96;
    color: white;
}

#download_all{
    display: block;
    width: 100%;
    font-size: 22px;
    border: rgba(0,0,0,0.6) solid;
    border-radius: 20px;
}

img{
    border-radius: 5%;
    margin: 5px;
}