#head{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

body{
    width: 408px;
    height: auto;
    background-color: #6c757e;
}

#download_all{
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    position: relative;
    left: 20%;
    width: 60%;
    height: 40px;
    font-size: 22px;
}

img{
    margin: 5px;
    width: 120px;
    height: auto;
    border-radius: 5%;
    border: rgba(41,43,44,0.6) solid;
    border-width: 3px;
}